# App
APP_PORT=8000

# Redis
REDIS_URL="redis://redis-service:6379"
REDIS_PORT=6379
REDIS_UI_PORT=8001
REDIS_VECTOR_DIM=384
REDIS_VECTOR_ALGORITHM="flat"
REDIS_VECTOR_DISTANCE="cosine"


# vLLM
VLLM_URL="http://vllm-service:8000/v1"
VLLM_HOST_PORT=8002
MODEL_NAME="Qwen/Qwen2.5-1.5B-Instruct"
MODEL_DEVICE="cpu"
EMBEDDINGS_MODEL="all-MiniLM-L6-v2"

# Cache tuning
SIMILARITY_THRESHOLD=0.85
SEMANTIC_CACHE_TTL=3600
